@import '../Global.scss';

.Footer {
	width: 100%;
	position: sticky;
	bottom: 0;
	height: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-height: 20vh;
	pointer-events: none;
	z-index: 100;
	.Footer-icons {
		pointer-events: all;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #181a1f;
		height: 60px;
		width: 100%;
		color: white;


		.Footer-icon {
			cursor: pointer;
			height: 30px;
			max-width: 50px;
			margin-left: 10px;
		}



		svg:hover path {
			// background-color: $highlight-color;
			color: $highlight-color !important;
			fill: $highlight-color !important;
		}
	}



}
