@import '../Global.scss';

.Portfolio-root-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 500px;
	color: $highlight-color;
	h2 {
		font-size: 3em;
		width: 100%;
		text-align: center;
	}
	.Portfolio-root-content {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;

		.Portfolio-button-text {
			width: 15em;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-repeat: no-repeat;
			background-size: cover;
			font-size: 48px;

			span {
				position: absolute;
				color: $highlight-color;
				z-index: 100;
				pointer-events: none;
			}

			.Portfolio-button-image {
				transition: opacity 0.5s;
				min-height: 150px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 20px;
				color: $highlight-color;
				font-size: 48px;
				cursor: pointer;
				opacity: 0.3;
			}

			.Games-image {
				background-image: url('../img/portfolio/happy-hour.png');
				margin: 5px;
			}
			.Soft-image {
				background-image: url('../img/portfolio/programming.jpg');
				margin: 5px;
			}
			.Portfolio-button-image:hover {
				transition: opacity 0.5s;
				opacity: 1;
			}
		}
		.Portfolio-button-text.active {
			.Portfolio-button-image {
				opacity: 1;
			}
		}
	}
}

