@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './Global.scss';

@font-face {
	font-family: 'tarrget';
	src: local('tarrget'), url(./fonts/tarrget.ttf) format('opentype');
}

.App {
	min-height: 100vh;
	height: 100%;
	align-items: center;
	justify-content: center;
}
html,
body,
#root,
.App {
	height: 100%;
	background-color: $background-color;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
	h1 {
		color: #1bf0ff;
		font-family: 'tarrget', sans-serif;
		letter-spacing: 5px;
		// box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05), inset 4px 4px 6px rgba(0, 0, 0, 0.2);
		// text-shadow: 0 0 15px #1bf0ff, 0 0 25px #1bf0ff;
		text-shadow: 0 0 15px $primary-color, 0 0 5px #ec1bff;

		animation: text-shadow 4s infinite;
	}
	@keyframes text-shadow {
		50% {
			text-shadow: 0 0 40px $primary-color, 0 0 25px #ec1bff;
		}
	}
}

.Portfolio-element-section-title, .Portfolio-element-title {
	color: $highlight-color;
	width: 100%
}

.Portfolio-element-title {
	display:flex;
	justify-content: center;
	align-items: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
